<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ChapooDatabase" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=dbchapoo202111; User=dbchapoo202111; Password=Me7W5E_Wn6D!"/>
	</connectionStrings>
</configuration>